/*styles for interview*/
/* called css/styles*/
body  {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(187, 237, 213);
  margin: 0;
  padding: 0;
}

h1.topHeading {
  font-family: 'Comfortaa', cursive;
  color: rgb(109, 29, 117);
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 4%;
  text-align: center;
  font-size: 40px;
  background-color: rgb(242, 173, 121, .6);
}
/*div.stayPut{
  margin: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(197, 140, 214);
}
*/
div.pics {
  text-align: center;
  margin-top: 5%;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: rgb(241, 137, 120, .6);
}
p {
  font-size: 1.75em;
  text-align: center;
}
div.menuBar {
  height: 25px;
  width: 100%;
  margin: 0;

}
li{
  float: right;
  width: 25%;
  color: orange;
  font-size: 2.0em;
  list-style-type: none;
}
/*div.menuB {
  float: right;
  width: 25%;
  color: orange;
  font-size: 2.0em;
}
*/
.pagematerial {
  float: none;
  width: 100%;
}

.menuLink:hover {
  text-decoration: none;
  font-size: 1.1em;
  text-align: center;
  color: blue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(119, 66, 244);
}

/*      <div class="menuBar">
          <div class="menuB">
            From?
          </div>
          <div class="menuB">
            Food
          </div>
          <div class="menuB">
            Favorite
          </div>
          <div class="menuB">
            Future
          </div>
      </div>
    </div>
    */
