/*styles for interview*/
/* called css/styles*/
body  {
  font-family: 'Roboto Mono', monospace;
  background-color: rgb(79, 208, 255, 0.8);
  margin: 0;
  padding: 0;
}

h1.topHeading {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  padding-top: 5%;
  padding-bottom: 4%;
  text-align: center;
  font-size: 40px;
  background-color: rgb(255, 79, 120, 11);
}
/*div.stayPut{
  margin: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(197, 140, 214);
}
*/
div.pics {
  text-align: center;
  margin-top: 5%;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 0;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: rgb(255, 219, 79, 0.8);
}
p {
  font-size: 1.75em;
  text-align: center;
  color: rgb(255, 76, 0);
}
div.menuBar {
  height: 25px;
  width: 100%;
  margin: 0;

}
li{
  float: right;
  width: 25%;
  color: orange;
  font-size: 2.0em;
  list-style-type: none;
}
/*div.menuB {
  float: right;
  width: 25%;
  color: orange;
  font-size: 2.0em;
}
*/
.pagematerial {
  float: none;
  width: 100%;
}
a{
  text-decoration: none;
}
.menuLink:hover {
  text-decoration: none;
  font-size: 1.1em;
  text-align: center;
  color: blue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(119, 66, 244);
}

div.List {
  float: left;
  margin-left: none;
  padding-left:10%;
  padding-right:10%;
  padding-top:5%;
  padding-bottom: 5%;
}
div.left {
  float: left;
  padding-right: 5%;
  width:40%;
  text-align:center;
}
div.right {
  padding-right: 0%;
  float:left;
  padding-left: 5%;
  width:30%;
  color: orange;
  font-size: 1.25em;
}

div.List2 {
  float: left;
  margin-left: none;
  padding-left:10%;
  padding-right:10%;
  padding-top:5%;
  padding-bottom: 5%;
}
div.left2 {
  float: left;
  width:40%;
  text-align:center;
}
div.right2 {
  padding-right: 0%;
  float:left;
  padding-left: 5%;
  width:30%;
  color: orange;
  font-size: 1.25em;
}




/*      <div class="menuBar">
          <div class="menuB">
            From?
          </div>
          <div class="menuB">
            Food
          </div>
          <div class="menuB">
            Favorite
          </div>
          <div class="menuB">
            Future
          </div>
      </div>
    </div>
    */

/*  <div class="List">
       <div class="left pics">
      </div>

      <div class="right">
      <p></p>
      </div>
    </div>
    */
